.home_column_container {
  display: flex;
  flex-direction: row;
  border-style: inset;
  border-width: 0.5px;
  padding: 4px 0;
  padding-left: 10px;
}

.home_column_count_lable {
  flex: 0.4;
}

.home_column_serial_lable {
  flex: 0.6;
}

.home_column_date_lable {
  flex: 0.6;
}

.home_column_id_lable {
  flex: 0.4;
}

.home_column_name_lable {
  flex: 1.8;
}

.home_column_shift_lable {
  flex: 0.6;
}

.home_column_type_lable {
  flex: 0.6;
}

.home_column_quantity_lable {
  flex: 0.6;
}

.home_column_fat_lable {
  flex: 0.6;
}

.home_column_rate_lable {
  flex: 0.6;
}

.home_column_clr_lable {
  flex: 0.6;
}

.home_column_amount_lable {
  flex: 0.6;
}

.home_column_checkbox {
  transform: scale(1.5);
}
