.header_preweek_container {
  display: flex;
  flex-direction: row;
  background-color: rgb(135, 167, 216);
  color: white;
  font-weight: 100;
  padding-left: 50px;
  position: sticky;
  top: 0;
}
.header_preweek_lable {
  flex: 0.33;
}
